@import url(../font/roboto/stylesheet.css);

@import url(../font/roboto-condensed/stylesheet.css);

:root {
  --text--xxs: 16px;
  --text--xs: 20px;
  --text--s: 22px;
  --text--ssm: 24px;
  --text--sm: 28px;
  --text--m: 32px;
  --text--mml: 40px;
  --text--ml: 60px;
  --text--mll: 64px;
  --text--ll: 80px;
  --text--l: 96px;
  --text--xl: 104px;
  --text--xxl: 140px;
  --text--xx: 162px;
}

._bg-grey {
  background: #BCBAC1;
}

._bg-light-green {
  background: #F2F7F8;
}

._bg-blue {
  background: #133274;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
}

body {
  font-size: var(--text--xs);
  font-family: 'Roboto',sans-serif;
  color: #ffffff;
  line-height: 1.5;
  background-color: #171718;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body._js-menu-open {
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  margin: 0;
}

p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  font-size: inherit;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: var(--text--xs);
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-transform: uppercase;
  padding: 16px;
  border-radius: 4px;
  background-color: #435CBC;
  white-space: nowrap;
}

.btn:hover {
  background-color: #354DAB;
  color: #ffffff !important;
}

.btn._big-text {
  font-size: var(--text--ssm);
}

.btn._with-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: var(--text--m);
  letter-spacing: 0.01em;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 16px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 16px rgba(255, 255, 255, 0.3);
  padding-right: 26px;
}

.btn._with-arrow:hover {
  color: #000000 !important;
  background-color: #cbcbcb !important;
}

.btn._with-arrow img {
  max-width: 16px;
  margin-left: 14px;
}

.logo-motto {
  font-family: 'Arial Narrow',sans-serif;
  color: #435CBC;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.32em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 9px;
  white-space: nowrap;
}

.highlighted {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  background-color: #ffffff;
  color: #000000;
}

.highlighted._dark {
  background-color: #000000;
  color: #ffffff;
}

.mv-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.text {
  font-weight: 400;
  font-size: var(--text--s);
  line-height: 1.3;
  letter-spacing: 0.01em;
}

.header {
  padding: 22px 0;
}

.header__logo img {
  max-width: 208px;
}

.header .menu-trigger {
  display: none;
}

.header .navbar {
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
}

.header .navbar .btn {
  margin-left: 20px;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu li {
  font-family: "Roboto Condensed", sans-serif;
  font-size: var(--text--s);
  line-height: 1.33;
  color: #ffffff;
  padding: 4px 0;
  margin-right: 48px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .menu li:last-child {
  margin-right: 0;
}

.header .menu li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #ffffff;
  width: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .menu li:hover:after {
  width: 100%;
}

.header .menu li a {
  display: block;
}

.header .menu-trigger {
  display: none;
  position: relative;
  width: 27px;
  height: 18px;
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.header .menu-trigger span {
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 6px;
}

.header .menu-trigger span:nth-of-type(1) {
  top: 0;
}

.header .menu-trigger span:nth-of-type(2) {
  top: 8px;
}

.header .menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.header .menu-trigger._js-active span:nth-of-type(1) {
  background-color: #435CBC;
  -webkit-transform: translateY(8px) rotate(-45deg);
      -ms-transform: translateY(8px) rotate(-45deg);
          transform: translateY(8px) rotate(-45deg);
}

.header .menu-trigger._js-active span:nth-of-type(2) {
  opacity: 0;
}

.header .menu-trigger._js-active span:nth-of-type(3) {
  background-color: #435CBC;
  -webkit-transform: translateY(-8px) rotate(45deg);
      -ms-transform: translateY(-8px) rotate(45deg);
          transform: translateY(-8px) rotate(45deg);
}

.promo {
  padding: 8px 0;
  background-color: #354DAB;
  font-weight: 700;
  font-size: var(--text--ssm);
  line-height: 1.3;
  letter-spacing: 0.01em;
}

.promo__old-price {
  display: inline-block;
  font-weight: 400;
  margin-right: 6px;
  margin-left: 10px;
  position: relative;
}

.promo__old-price:before {
  position: absolute;
  content: "";
  left: -3px;
  top: 14px;
  right: 0;
  width: 113%;
  border-top: 2px solid;
  border-color: #ffffff;
  -webkit-transform: rotate(-27deg);
      -ms-transform: rotate(-27deg);
          transform: rotate(-27deg);
}

.promo__bonus {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  opacity: 0.5;
  margin-left: 10px;
}

.hero {
  background: url("../img/hero.png") no-repeat;
  background-size: cover;
}

.hero__text {
  padding: 380px 0 8px;
}

.hero h2 {
  font-weight: 700;
  font-size: var(--text--xxl);
  line-height: 1;
  letter-spacing: -0.02em;
  padding-bottom: 36px;
}

.hero .title-underlined {
  position: relative;
  margin-bottom: 36px;
}

.hero .title-underlined:after {
  content: '';
  width: 100vw;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
}

.overview {
  padding-top: 120px;
  padding-bottom: 60px;
}

.overview__img {
  position: relative;
  max-width: 420px;
  height: 100%;
}

.overview__img img {
  max-width: 420px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overview__desc {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 16px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.8);
}

.overview__desc h6 {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
}

.overview h2 {
  font-weight: 700;
  font-size: var(--text--xl);
  line-height: 1;
  letter-spacing: -0.02em;
}

.overview__text {
  margin-top: 65px;
}

.overview .btn-wrapper {
  margin-top: 40px;
}

.overview__content {
  padding-left: 50px;
}

.overview__title {
  padding-top: 36px;
  margin-left: -166px;
  position: relative;
  z-index: 100;
}

.about {
  padding: 60px 0;
}

.about h2 {
  font-size: var(--text--l);
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.about__item {
  margin-top: 32px;
  margin-bottom: 32px;
}

.about__item._big-text h4 {
  font-size: var(--text--mll);
}

.about__item h4 {
  font-size: var(--text--m);
  line-height: 1;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 30px;
}

.about__item .btn-wrapper {
  margin-top: 30px;
}

.about__img {
  padding-left: 30px;
  padding-bottom: 32px;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.about__img-wrap {
  max-width: 326px;
}

.about__img img {
  max-width: 295px;
}

.review {
  padding: 60px 0;
}

.review h2 {
  font-size: var(--text--ll);
  line-height: 1;
  letter-spacing: -0.02em;
  padding-top: 76px;
  margin-bottom: 56px;
  position: relative;
}

.review h2:before {
  content: '';
  position: absolute;
  width: 80px;
  height: 58px;
  top: 0;
  left: 0;
  background: url("../img/quote.svg") no-repeat;
  background-size: cover;
}

.review__item {
  padding: 40px;
  border: 1px solid #FFFFFF;
}

.review__img {
  max-width: 495px;
}

.review__author,
.review p {
  font-weight: 400;
  font-size: var(--text--xs);
  line-height: 1.3;
  letter-spacing: 0.01em;
}

.review p {
  margin-bottom: 40px;
}

.review .slick-list {
  overflow: visible;
}

.review-slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: -40px;
}

.review .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 57px;
  height: 57px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: relative;
  z-index: 20;
  cursor: pointer;
}

.review .arrow img {
  max-width: 8px;
}

.review .arrow.prev img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.review .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.review .slick-dots li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review .slick-dots li.slick-active button {
  width: 16px;
  height: 16px;
  opacity: 1;
}

.review .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 6px;
  border: none;
  border-radius: 50%;
  background: #FFFFFF;
  opacity: 0.5;
  text-indent: -9999px;
}

.spec {
  padding: 50px 0;
}

.spec__desc {
  max-width: 655px;
}

.spec__desc h2 {
  font-size: var(--text--xl);
  line-height: 1;
  letter-spacing: -0.02em;
  color: #000000;
  margin-top: 86px;
  margin-bottom: 58px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  z-index: 20;
}

.spec ul li {
  font-weight: 700;
  font-size: var(--text--sm);
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 38px;
  padding-left: 40px;
  position: relative;
}

.spec ul li:last-child {
  margin-bottom: 0;
}

.spec ul li:before {
  content: '+';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -14px;
  font-size: var(--text--sm);
  line-height: 1;
  color: #435CBC;
}

.spec .btn-wrapper {
  margin-top: 58px;
}

.spec__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spec__img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.banner {
  padding: 60px 0 144px;
}

.banner__item {
  padding: 40px;
  background: #080806;
  position: relative;
  overflow: hidden;
}

.banner__img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.banner__img img {
  max-width: 570px;
}

.banner__desc {
  padding: 14px 148px 78px;
  border: 1px solid #ffffff;
  position: relative;
  z-index: 20;
}

.banner__desc img {
  display: block;
  max-width: 142px;
  margin-left: auto;
  margin-bottom: 16px;
}

.banner__desc h4 {
  font-size: var(--text--mml);
  line-height: 1;
  text-align: right;
  letter-spacing: 0.02em;
  margin-bottom: 44px;
}

.banner__desc h2 {
  font-size: var(--text--xx);
  line-height: 1;
  text-align: right;
  letter-spacing: -0.02em;
  margin-bottom: 44px;
}

.banner__desc h6 {
  font-size: var(--text--m);
  line-height: 1.1;
  text-align: right;
  letter-spacing: 0.02em;
  max-width: 632px;
  margin-left: auto;
}

.join {
  background-color: #7c7c7a;
  padding-bottom: 110px;
  position: relative;
}

.join .container {
  z-index: 20;
}

.join:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 900px;
  height: 762px;
  background: url("../img/promo-pic.jpg") no-repeat;
  background-size: cover;
}

.join__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -72px;
}

.join__head h2 {
  font-size: var(--text--ll);
  line-height: 100%;
  letter-spacing: -0.02em;
  width: 100%;
  text-align: center;
}

.join__head h4 {
  font-size: var(--text--mml);
  line-height: 100%;
  letter-spacing: -0.02em;
  width: 100%;
  text-align: center;
}

.join__title {
  font-size: var(--text--mll);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 12px;
  max-width: 792px;
}

.join p {
  margin-bottom: 48px;
}

.join__promo {
  display: inline-block;
  padding: 32px 32px 52px;
  background-color: #435CBC;
}

.join__promo h2 {
  font-size: var(--text--ml);
  line-height: 1.1;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}

.join__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.join__monthly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 8px;
}

.join__monthly span:first-child {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.04em;
}

.join__monthly .promo__bonus {
  font-size: 22px;
}

.join .promo__old-price {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 84px;
  margin-right: 22px;
}

.join .promo__old-price:before {
  border-top: 4px solid;
  top: 60px;
}

.join .promo__curr-price {
  font-weight: 700;
  font-size: 112px;
  line-height: 1;
  letter-spacing: -0.02em;
}

.join .btn {
  margin-left: 22px;
  white-space: nowrap;
}

.footer {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 26px 0 34px;
}

.footer a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer a:hover {
  color: #435CBC;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 26px;
}

.footer__logo img {
  max-width: 208px;
}

.footer__tel {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.footer__menu a {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.footer__menu li a {
  font-weight: 400;
}

.footer .btn {
  margin-bottom: 20px;
}

.footer__social a:hover {
  opacity: 0.6;
}

.footer__social img {
  max-width: 32px;
}

.footer__social a + a {
  margin-left: 22px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1413px;
  }
}

@media (max-width: 1399.98px) {
  :root {
    --text--xxl: 110px;
  }

  .header .menu li {
    margin-right: 36px;
  }

  .hero__text {
    padding-top: 280px;
  }

  .banner__desc {
    padding: 14px 60px 70px;
  }
}

@media (max-width: 1199.98px) {
  :root {
    --text--xs: 17px;
  }

  :root {
    --text--s: 18px;
  }

  :root {
    --text--ssm: 21px;
  }

  :root {
    --text--sm: 24px;
  }

  :root {
    --text--m: 28px;
  }

  :root {
    --text--mml: 36px;
  }

  :root {
    --text--ml: 52px;
  }

  :root {
    --text--mll: 44px;
  }

  :root {
    --text--ll: 66px;
  }

  :root {
    --text--l: 70px;
  }

  :root {
    --text--xl: 74px;
  }

  :root {
    --text--xxl: 90px;
  }

  :root {
    --text--xx: 102px;
  }

  .btn {
    padding: 12px 16px;
  }

  .hero h2 {
    padding-bottom: 26px;
  }

  .hero .title-underlined {
    margin-bottom: 26px;
  }

  .overview__text {
    margin-top: 40px;
  }

  .review h2:before {
    width: 70px;
    height: 51px;
  }

  .review p {
    margin-bottom: 20px;
  }

  .spec__desc h2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .spec ul li {
    margin-bottom: 24px;
  }

  .spec .btn-wrapper {
    margin-top: 30px;
  }

  .banner__img img {
    max-width: 480px;
  }

  .join .promo__old-price {
    font-size: 62px;
  }

  .join .promo__old-price:before {
    top: 46px;
  }

  .join .promo__curr-price {
    font-size: 74px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --text--ssm: 21px;
  }

  :root {
    --text--m: 26px;
  }

  :root {
    --text--mml: 32px;
  }

  :root {
    --text--ml: 38px;
  }

  :root {
    --text--mll: 40px;
  }

  :root {
    --text--ll: 48px;
  }

  :root {
    --text--l: 58px;
  }

  :root {
    --text--xl: 62px;
  }

  :root {
    --text--xxl: 68px;
  }

  :root {
    --text--xx: 72px;
  }

  .header .navbar {
    position: fixed;
    right: -100%;
    top: 93px;
    width: 100%;
    background: #171718;
    height: calc(100% - 93px);
    z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-bottom: 3px solid #ffffff;
    overflow-y: auto;
  }

  .header .navbar._js-open {
    right: 0;
  }

  .header .navbar .btn {
    margin-left: 0;
  }

  .header .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .header .menu li {
    color: #ffffff;
    padding: 18px 0;
    margin-right: 0;
    border-bottom: 1.5px solid #ffffff;
  }

  .header .menu li:last-child {
    border-bottom: none;
  }

  .header .menu-trigger {
    display: inline-block;
  }

  .promo__old-price:before {
    top: 11px;
  }

  .promo__title {
    display: block;
    width: 100%;
    text-align: center;
  }

  .about__img img {
    max-width: 230px;
  }

  .review h2 {
    padding-top: 46px;
    margin-bottom: 36px;
  }

  .review h2:before {
    width: 50px;
    height: 36px;
  }

  .review__img {
    max-width: 100%;
    margin-bottom: 16px;
  }

  .review__img img {
    max-width: 360px;
    margin: auto;
  }

  .spec__desc {
    margin-bottom: 20px;
  }

  .spec__img img {
    max-width: 400px;
    height: auto;
  }

  .banner__img img {
    max-width: 420px;
  }

  .join:after {
    width: 700px;
    height: 593px;
  }

  .join__title {
    margin-top: 50px;
  }

  .join .promo__curr-price {
    font-size: 62px;
  }

  .footer__menu {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --text--xs: 16px;
  }

  :root {
    --text--s: 17px;
  }

  :root {
    --text--ssm: 18px;
  }

  :root {
    --text--sm: 21px;
  }

  :root {
    --text--m: 24px;
  }

  :root {
    --text--mml: 28px;
  }

  :root {
    --text--ml: 34px;
  }

  :root {
    --text--mll: 38px;
  }

  :root {
    --text--ll: 42px;
  }

  :root {
    --text--l: 50px;
  }

  :root {
    --text--xl: 54px;
  }

  :root {
    --text--xxl: 58px;
  }

  :root {
    --text--xx: 60px;
  }

  .highlighted {
    padding: 6px 8px;
  }

  .mv-16 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .hero {
    background: url("../img/hero.png") -180px bottom no-repeat;
  }

  .hero__text {
    padding-top: 0;
    height: calc(100vh - 155px);
  }

  .hero h2 {
    padding-bottom: 16px;
  }

  .hero .title-underlined {
    margin-bottom: 16px;
  }

  .overview {
    padding-bottom: 40px;
  }

  .overview__img {
    margin: auto;
  }

  .overview__img img {
    height: auto;
  }

  .overview__text {
    margin-top: 20px;
  }

  .overview .btn-wrapper {
    margin-top: 20px;
  }

  .overview__content {
    padding-left: calc(var(--bs-gutter-x) * .5);
  }

  .overview__title {
    margin-left: 0;
  }

  .about {
    padding: 40px 0;
  }

  .about__item h4 {
    margin-bottom: 20px;
  }

  .about__item .btn-wrapper {
    margin-top: 20px;
  }

  .about__img {
    padding: 30px 30px 0 0;
    margin-bottom: 20px;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
  }

  .about__img-wrap {
    max-width: 288px;
    margin: auto;
  }

  .join {
    padding-bottom: 60px;
  }

  .join__price {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .join .promo__old-price {
    font-size: 52px;
  }

  .join .promo__old-price:before {
    top: 34px;
  }

  .join .btn {
    margin-left: 0;
    margin-top: 30px;
  }
}

@media (max-width: 575.98px) {
  .hero__text {
    padding-left: 30px;
  }

  .about__item {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .review__item {
    padding: 20px;
  }

  .banner__item {
    padding: 20px;
  }

  .banner__img img {
    max-width: 300px;
  }

  .banner__desc {
    padding: 14px 30px 50px;
  }

  .banner__desc img {
    max-width: 110px;
  }
}

@media (max-width: 475.98px) {
  :root {
    --text--xs: 16px;
  }

  :root {
    --text--s: 17px;
  }

  :root {
    --text--ssm: 18px;
  }

  :root {
    --text--sm: 20px;
  }

  :root {
    --text--m: 22px;
  }

  :root {
    --text--mml: 26px;
  }

  :root {
    --text--ml: 32px;
  }

  :root {
    --text--mll: 34px;
  }

  :root {
    --text--ll: 36px;
  }

  :root {
    --text--l: 40px;
  }

  :root {
    --text--xl: 36px;
  }

  :root {
    --text--xxl: 48px;
  }

  :root {
    --text--xx: 52px;
  }

  .overview {
    padding-top: 40px;
  }

  .join__monthly span:first-child {
    font-size: 20px;
  }

  .join__monthly .promo__bonus {
    font-size: 12px;
  }
}

@media (max-width: 375.98px) {
  .header .menu {
    padding: 30px 40px;
  }
}